html {
  font-size: 10px;
  background: url('./cartoonUs.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .2s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.5);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}


.myMessage {
font-size: 18px;

position: relative; left: -420px; top: 300px;
height: 85px;
width: 350px;
margin: auto;
padding: 11px 20px;
background: white;
background-image: linear-gradient(cream, white);
background-size: cover;
box-shadow: 0px 30px 60px -5px #000;
outline: 6px solid rgb(54, 194, 7);
}


.hisMessage{
display: none;
font-size: 18px;
position: relative; right: -600px; top: 170px;
height: 85px;
width: 350px;
margin: auto;
padding: 11px 20px;
background: white;
background-image: linear-gradient(cream, white);
background-size: cover;
box-shadow: 0px 30px 60px -5px #000;
outline: 6px solid hotpink;
}

.my-fade-in-image{
  animation: fadeIn1 3s;
}

@keyframes fadeIn1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.his-fade-in-image{
  animation: fadeIn 3s;
}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
} 

h1{
  font-size: 35px;
  position: relative; right: -700px; top: 200px;
  margin: auto;
  

}
